<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="ClickOnceWPFFx" Language="1033" Version="0.0.9.0" Manufacturer="CodeMissing" UpgradeCode="6cc36b1b-7bd0-49ee-882a-f3376cf9fc94">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <!--<MajorUpgrade DowngradeErrorMessage="较新版本的 [ProductName] 已经安装了！" />-->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />


    <WixVariable Id="WixUILicenseRtf" Value="LicenseAgreement.rtf" />

    <!--<Feature Id="ProductFeature" Title="WixSetup_Simple安装包的标题" Level="1">-->
    <Feature Id="ProductFeature" Title="WixSetup_Simple_Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <!--<ComponentGroupRef Id="ClickOnceWPFFx.Binaries" />-->
    </Feature>


    <!--<UIRef Id="WixUI_Advanced" />-->
    <!--<UIRef Id="WixUI_FeatureTree" />-->
    <!--<UIRef Id="WixUI_InstallDir" /> 直接生成的安装包报错-->
    <UIRef Id="WixUI_Minimal" />
    <!--<UIRef Id="WixUI_Mondo" />-->

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <!--<Directory Id="INSTALLFOLDER" Name="[ProductName]" /> 不能使用变量[ProductName] 安装的文件夹 -->
        <Directory Id="INSTALLFOLDER" Name="ClickOnceWPFFx" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <Component Id="ProductComponent">
        <!-- TODO: Insert files, registry keys, and other resources here. -->
        <File Source="$(var.ClickOnceWPFFx.TargetPath)" KeyPath="yes" />
        <!--<File Source="$(var.ClickOnceWPFFx.TargetDir)" KeyPath="yes" />-->
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
