<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <!--<oracle.manageddataaccess.client>
    <version number="*">
      <settings>
        --><!--<setting name="ORACLE_SID" value="NTS"/>--><!--
        <setting name="sqlnet.authentication_services" value="NTS"/>
      </settings>
    </version>
  </oracle.manageddataaccess.client>-->
</configuration>
